.brand-logo {
    padding-left: 15px !important;

}

nav {
    height: 75px;
    line-height: 75px;
}

#header-name {
    font-size: 50px;

}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    height: 100px;
}

#myself {
    height:250px;
    width: 250px;
}