.brand-logo {
    padding-left: 50px !important;

}

nav {
    height: 75px;
    line-height: 75px;
    background-color: white;

}

#header-name {
    font-size: 45px;
    color: rgba(11, 134, 235, 0.986);
    font-family: 'Anton', sans-serif;

}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("/assets/images/lightblue.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
}

main {
    flex: 1 0 auto;
}

footer {
    height: 100px;

}

#sticky-footer {
    background-color:white;
    color:  rgba(11, 134, 235, 0.986);
}

#myself {
    height: 250px;
    width: 250px;
}

img {
    height: 200px;
}

h4 {
    color: rgba(11, 134, 235, 0.986);
    background-color: white; 
    padding: 15px;
    font-family: 'Anton', sans-serif;
}

p {
    color: rgba(11, 134, 235, 0.986);
    
}
