.brand-logo {
    padding-left: 50px !important;

}

nav {
    height: 75px;
    line-height: 75px;
    background-color: white;
    color: rgba(11, 134, 235, 0.986);

}

#header-name {
    font-size: 45px;
    color: rgba(11, 134, 235, 0.986);
    font-family: 'Anton', sans-serif;

}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /* background-image: url("/assets/images/Memphisbridge.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
}

main {
    flex: 1 0 auto;
    color: rgba(11, 134, 235, 0.986);
}

/* footer {
    height: 100px;

} */

/* #sticky-footer {
    background-color:white;
    color:  rgba(11, 134, 235, 0.986);
} */

#myself {
    height: 475px;
    width: 350px;
    float: left;
}

img {
    height: 200px;
}

h4 {
    background-color: white; 
    padding: 15px;
    font-family: 'Anton', sans-serif;
}



#icons {
    float:right;
    margin-right: 50px;

}


#myPortfolio {
    font-family: 'Anton', sans-serif;
}

#technical {
    font-weight: bold;
}

